body {
    font-family: Verdana,sans-serif,Arial;
	background: url repeat scroll 0 0 transparent;
	font-size: 0.75em;
}
.clearfloat {
    clear: both;
}
.wrap {
    border: 5px solid #CCCCCC;
    margin: 10px auto;
    padding: 5px;
    width: 750px;
	background-color: #fff;
}
.Judul {
	font-size: 18px;
	font-weight: bold;
	margin: 5px 5px 5px 5px;
	}
.LeftOne {
	float: left;
	width: 200px;
	}
.RightOne {
	float: right;
	}
.header {
    height: 120px;
    margin-bottom: 10px;
}
.form {
	margin: 10px 10px 10px 10px;
	border: 1px solid #CCC;
	padding: 2px 2px 2px 2px;
	}
.BigContent {
	width: 960px;
	}
.LeftContent {
	float: left;
    margin: 5px;
    width: 180px;
}
.RightContent {
	float: left;
    padding: 5px;
    width: 960px;
	margin:0 auto;
	position: relative;
}
.produk {
    float: left;
	border: 1px solid #CCC;
	margin: 10px 15px;
	padding: 0 auto;
}
.pesanprod {
    float: left;
    margin-left: 10px;
}
.tocart {
	float: right;
    background: none repeat scroll 0 0 #FF9900;
	padding: 5px;
	text-decoration: none;
	color: black;
	}
.tocart:hover {
	color: black;
	font-weight: bold;
	}
.KotakKet {
	padding: 5px;
	float: left;
    background: none repeat scroll 0 0 #FF9900;
	}
.pesanprod:hover {
    background: none repeat scroll 0 0 #fff;
	}
.FotoProduk {
	padding: 3px 3px 3px 3px;
	float: left;
	}
.detprod {
    float: left;
    margin-left: 10px;
}
.detprod:hover {
    background: none repeat scroll 0 0 #fff;
	}
.cart {
    background-color: #fff;
    float: right;
    min-height: 50px;
    width: 200px;
	border-bottom: 1px solid #CCC;
}
.KetCart {
	font-size: 18px;
	float: left;
	margin-top: 25px;
	font-weight: bold;
	margin-left: 10px;
	}
input {
	margin: 10px 10px 10px 10px;
	}
#navigation {font-size:0.75em; width:50px;}
#navigation ul {margin:0px; padding:0px;}
#navigation li {list-style: none;} 

ul.top-level {background:#666;}
ul.top-level li {
 border-bottom: #fff solid;
 border-top: #fff solid;
 border-width: 1px;
}

#navigation a {
 color: #fff;
 cursor: pointer;
 display:block;
 height:25px;
 line-height: 25px;
 text-indent: 10px;
 text-decoration:none;
 width:100%;
}
#navigation a:hover{
 text-decoration:underline;
}

#navigation li:hover {
 background: #f90;
 position: relative;
}
.footer {
	background-color: #DBF7FA;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-top: 30px;
	}
.KetProd {
	background-color: #fff;
	width: 500px;
	height: 200px;
	padding: 10px 10px 10px 10px;
	}
.haha {
	text-decoration: none;
	font-size: 14px;
	background: none repeat scroll 0 0 #FF9900;
	padding: 5px;
	}
.haha:hover{
	color: #fff;
	background: none repeat scroll 0 0 blue;
	}
.tombol {
	float: right;
	margin-right:30px;
	margin-top: 30px;
	font-weight: bold;
	color: #121212;
	}
.tombol:hover {
	background: none repeat scroll 0 0 #FF9900;
	padding: 2px 2px 2px 2px;
	}
.GambarKetProd {
	float: left;
	width: 150px;
	margin-right: 20px;
	padding: 3px 3px 3px 3px;
	border: 1px solid #CCC;
	}
.TableCart {
	border: 1px solid #CCC;
	    color: #000000;
    font-family: Verdana;
    font-size: 8pt;
    line-height: 18px;
    text-decoration: none;
    width: 100%;
	}
th {
	background-color: #e0e0e0;
	}